.container-short{
    margin: 0 auto;
    float: none;
    max-width: 750px!important;
}

label{
    font-weight: bold;
}

.mar-20{
    margin-top:15%
}
.error h4{
    color: red;
}

.error h5{
    color:red;
}